/*
#tabber ul {
	margin-right: 0px;
	margin-left: 0px;
	background-color: #7E7EB3;
	padding: 1em 0em 1em 0em;
}

#tabber li {
    color: black;
    list-style-type: none;
	padding: 0em 0em 0em 1em;
}
#tabber a {
    color: black;
    display: block;
    text-decoration: none;	
}
#tabber a:hover {
    background-color: #cccccc;
    color: black;
    text-decoration: none;
}
#tabber #current {
    background-color: #dbc585;
    color: black;
}
#tabber #current a {
    background-color: #ffffff;
}
*/
/*
#tabber #current {
    background-color: #5555dd;
    color: black;
	border:1px solid #DEDEDE;	
}

#tabber li a {
    color: black;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

#tabber li a:hover {
    background-color: #cccccc;
    color: black;
    text-decoration: none;
}

*/
