%h2
  Results
%table
  %tr
    %th
      Users
    %th
      Products
  %tr
    %td
      - unless @users.nil? || @users.empty?
        - @users.each do |u|
          = link_to u.username, { :controller => 'users', :action => 'show', :id => u.id }
          %br
      - else
        None found
    %td
      - unless @products.nil? || @products.empty?
        - @products.each do |p|
          = link_to p.title, p
          %br
      - else
        None found
